.App {

height:  100vh;
width: 100vw;
background-color:black;
position: relative;
display: flex;
flex-direction: row;
 


}
.disabled{
  opacity: 0.5;
}
.story{
  position: relative;
flex: 1;
padding-top: 5%;
  font-family:'TMSFont';
  
}
.canvas{
  position: relative;

flex: 1;

}

.tmsfont{
  font-family: "TMSFont";
}
@font-face {
  font-family: "TMSFont";
  
  src:  url("./fonts/Once\ Upon\ A\ Dream.ttf") format("truetype");
  color:white;
}



