body {
  margin: 0;
  font-family: "TMSFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfdfd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tmsfont{
  font-family: "TMSFont";
}
@font-face {
  font-family: "TMSFont";
  
  src:  url("./fonts/Once\ Upon\ A\ Dream.ttf") format("truetype");
  color:black;
 
}
